*{
    box-sizing: border-box;
}

:root{
    --primary-color: #2a8947;
}

body{
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

.container{
    height: 100vh;
}

.title-bar{
    height: 5vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu-bar{
    height: 5vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
}

.menu-item{
    padding: 0rem 1rem;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu-item.active{
    background-color: #fff;
    color: var(--primary-color);
}

.menu-item:hover{
    background-color: #1f6935;
    cursor: pointer;
}

.menu-item.active:hover{
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar{
    height: 6vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.menu-icons{
    padding: 0rem 0.70rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icons:hover{
    background-color: lightgray;
    cursor: pointer;
}

.font-select{
   width: 150px;
}

.selector{
    height: 80%;
    font-size: 18px;   
}

.selector option{
    font-size: 18px;
}


.formula-bar{
    height: 6vh;
}

.data-container{
    height: 74vh;
}

.sheet-bar{
    border-top: 2px solid lightgray;
    height: 4vh;
    display: flex;
    align-items: center;
}
.scroller{
    width: 80px;
}

.nav-icons{
    font-size: 35px;
}

.nav-icons:hover{
    background-color: lightgray;
    cursor: pointer;
}

.icon-add{
    color: var(--primary-color);
    padding: 0rem 0.5rem;
    margin: 0rem 0.70rem;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-add:hover{
background-color: lightgray;
cursor: pointer;
transform: scale(1.2);
}

.sheet-tab{
    border-bottom: 4px solid var(--primary-color);
    padding: 0.1rem 0.70rem;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.sheet-tab:hover{
    cursor: default;
}

.sheet-tab-container{
    border: 1px solid lightgray;
    margin: 0rem 0.70rem;
}